/* Write your CSS here */
.app-item-container {
  background-color: #ffff;
  list-style: none;
  margin: 15px;
  width: 100px;
  padding: 12px;
  border-radius: 8px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}
.app-image {
  height: 50px;
  width: 50px;
}
.app-item-name {
  font-size: 13px;
  margin-top: 5px;
}
